{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<a href="{{ path('app_account_modify')}}" class="btn btn-primary">Edit Profile</a>

<h2>{{ app.user.firstName }} {{ app.user.lastName }}</h1>
<h2>{{ app.user.email }}</h2>
<h2>{{ app.user.country }}</h2>

<h2>Streaming Services</h2>

{% for streamingServices in app.user.streamingServices %}
<li>{{ streamingServices }}</li>

{% endfor %}
{% endblock %}
