<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Film Finder{% endblock %}</title>
    <meta name="description"
        content="Find a film to watch tonight with Film Finder! Whether you want a movie that makes you laugh, cry, or fills you with nostalgia, Film Finder can help you decide what to watch. Filter movies by genre, streaming service, language, keywords, and country. Create a watchlist that contains films which are available on streaming services you are already subscribed to, in your country.">
    <meta name="keywords"
        content="film, films, find a film, film finder, film search, movie, movies, find a movie, movie search, what to watch, what to watch tonight, netflix, hulu, amazon, amazon prime, amazon video, amazon prime video, disney, disney plus, disney+, mubi, HBO, hbo max, max, where to watch, streaming services, what movie should i watch, movies to watch">
    <link rel="icon" href="/images/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
    <!-- Matomo -->
    <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://findafilm.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/findafilm.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Matomo Code -->

</head>

<body>
    {% block header %}
    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid">
            <!-- LOGO -->
            <div class="col-3">
                <a class="navbar-brand" href="{{ path('app_search') }}"><img class="logo" src="/images/logo_trans.png"
                        alt="Film Finder logo"></a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="navbar-nav me-4 mb-2 mb-lg-0 d-flex align-items-center justify-content-end" id="menu">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_search') }}">Find a Film</a></li>
                {# IF LOGGED AS ADMIN #}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_admin') }}">Admin</a></li>
                {% endif %}
                {# IF LOGGED AS USER #}
                <li class="nav-item">{% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
                <li class="services nav-item">
                    <a class="nav-link" href="{{ path('app_account')}}" aria-label="Your Profile"><i class="bi-person-fill"></i></a>
                </li>
                {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Login or Signup</a></li>
                {% endif %}
                <div class="js-user-rating" data-is-authenticated="{{ app.user ? 'true' : 'false' }}" data-user="{{ app.user|serialize(format = 'json') }}">
                </div>  

            </ul>
        </div>
    </nav>

    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    {% endblock %}
</body>

</html>